#osdLayer {
	font-size	: 130%;
	margin		: 1em;
	width		: 100%;
	
	position	: absolute;
	top		: 0px;
	left		: 0px;
}

#osdLayer .button {
	font-family: Monospace;
	font-size: 16px;

	padding		: 0.4em;
	margin		: 0.2em;
	background	: rgba(64,64,64, 0.8);
	border-radius	: 15px;	
	color		: #808080;
}
#osdLayer .button:hover {
	cursor		: pointer;
	background	: rgba(96,96,96, 0.8);
	color		: #FFFFFF;
}

#osdLayer #editor {
	margin-top	: 1em;
}

.cm-s-cobalt {
	background	: rgba(0,34,64, 0.5)
}
.cm-s-night {
	background	: rgba(0,0,0, 0.5)
}

.CodeMirror-scroll {
	border-radius	: 15px;
	width		: 100%;
	height		: 100%;
}

